body {
    background-color: rgb(244, 244, 250);
    text-align: center; 
}

div {
    display: flex;
    justify-content: center; /* מרכז אופקית */
    align-items: center; /* מרכז אנכית */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

/* .box {
    width: 500px;
    height: 500px;
    background-color: lightgray;
    justify-content: center;


} */

.btn {
    padding: 10px 70px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}



img {
    margin-top: 10px;
    width: 35px;    
}
h1 {
    color: rgb(25, 28, 186);
}

.isCovered {
    background-color: gray;
}

.center {
    background-color: grey ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 250px;
}
.isCovered {
    cursor: pointer;
    border-style: outset;
    border-width: 4px;
    border-color: #ccc #999 #999 #ccc;
}

.isMarked {
    border-style: inset;
border-width: 4px;
border-color: #999 #ccc #ccc #999;
}

    /* height: 100vh; גובה מלא של המסך} */

/* position: relative;
overflow: hidden;
} */
/* 
min-width: 300px;
max-width: 500px; */